/* :root {
    --f-sans-seriff: sans-serif;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#flags {
    width: 100vw;
    height: 300px;
    background-color: rgb(3, 0, 40);
    display: flex;
    align-items: center;
    justify-content: center;
}


.flag {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.bg-white {
    background-color: white;
}

#japan {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 100%;
}

#red-bar {
    width: 40px;
    height: 100%;
    background-color: red;
}

#green-bar {
    width: 40px;
    height: 100%;
    background-color: green;
}

#white-bar {
    width: 40px;
    height: 100%;
    background-color: white;
}

#blue-bar {
    width: 40px;
    height: 100%;
    background-color: blue;
}

#red-bar-horizontal {
    width: 120px;
    height: 40px;
    background-color: red;
}

#yellow-bar-horizontal {
    width: 120px;
    height: 40px;
    background-color: yellow;
}

#black-bar-horizontal {
    width: 120px;
    height: 40px;
    background-color: black;
}

.flag-horizontal {
    display: flex;
    flex-direction: column;
}



/* ========================================================== */

/* .content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    align-items: center;

     justify-content: center;
    height: 400px;
} */

/* body {
    display: flex;
    flex-direction: column;
    background: red;
} */

/* #pagetitle {
    font-family: 'Times New Roman', Times, serif;
} */

/* header {
    h1 {
        font-family: 'Times New Roman', Times, serif;
    }
} */

/* header > h1 {
    font-family: 'Times New Roman', Times, serif;
} */