* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.flags {
    width: 100vw;
    height: 300px;
    background-color: rgb(3, 0, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.flag {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-flag {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

/* ############################# BACKGROUND ############################## */

.bg-color-white {
    background-color: white;
}

.bg-color-red {
    background-color: red;
}

.bg-color-green {
    background-color: green;
}

.bg-color-blue {
    background-color: blue;
}

.bg-color-black {
    background-color: black;
}

.bg-color-yellow {
    background-color: yellow;
}

/* ############################# SHAPES ############################## */

.circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.vertical-bar {
    width: 40px;
    height: 100%;
}

.horizontal-bar {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
}